.aboutmediv {
  color: white;
  height: 100vh;
  color: rgb(0, 0, 0);
  font-family: monospace;
  scroll-snap-align: start;
}

.aboutmeinfo {
  margin-left: 10%;
  margin-bottom: 50px;
}

.box {
  padding-top: 100px;
}

.resumeinfo {
  color: rgb(0, 6, 10);
}
.contactinfo {
  display: flex;
  flex-direction: column;
}
