.aboutmediv {
  color: white;
  height: 100vh;
  color: aliceblue;
  font-family: monospace;
  scroll-snap-align: start;
}

.aboutmeinfo {
  margin-left: 10%;
  margin-bottom: 50px;
}

.box {
  padding-top: 100px;
}

.resumeinfo {
  color: aliceblue;
}
.contactinfo {
  display: flex;
  flex-direction: column;
}
