.aboutmediv {
  height: 130vh;
  width: 100vw;
  color: rgb(0, 6, 11);
  /* font-family: monospace; */
  /* scroll-snap-align: start; */
}

.aboutmeintro {
  margin-left: 10%;
  height: 55%;
}

.typewriteheader {
  color: rgb(23, 35, 46);
}

.typewritetext {
  color: rgb(126, 127, 128);
}
