#carouselbox {
  --height: calc(80vh - 50px);
  --width: 450px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.carousel {
  display: grid;
  transform: translate3d(0, 0, 0.1px);
}

.carousel__list {
  display: flex;
  overflow: hidden;
  list-style: none;
  padding: 2em 0 3em;
  margin: -2em 0 -3em;
}

.carousel__item {
  display: grid;
  position: relative;
  align-content: start;
  margin: 0 10px;
  padding: 0;
  flex: 1 1 10%;
  height: var(--height);
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  transform: translate3d(0, 0, 0.1px);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 15px 2px,
    rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.carousel__item::before {
  content: "";
  position: absolute;
  inset: -20px;
  z-index: 2;
}

.carousel__item,
.carousel__item * {
  transition: all 0.6s cubic-bezier(0.55, 0.24, 0.18, 1);
}

.carousel__image,
.carousel__contents {
  width: var(--width);
  height: auto;
}

.carousel__item:hover {
  flex-basis: calc(var(--width) / 2);
  transition: all 0.3s ease;
}

.carousel__item#data_active {
  flex-basis: var(--width);
  flex-grow: 0;
}

.carousel__item:nth-child(3),
.carousel__item:nth-child(10) {
  flex: 0 0 10px;
}

.carousel__item:nth-child(2),
.carousel__item:nth-child(11) {
  flex: 0 0 5px;
  transform: translateX(-50px);
}

.carousel__item:nth-child(11) {
  transform: translateX(50px);
}

.carousel__item:nth-child(1),
.carousel__item:nth-child(n + 12) {
  flex: 0 0 0px;
  margin: 0;
  box-shadow: none;
  opacity: 0 !important;
}

.carousel__item:not(:nth-child(n + 5)) img,
.carousel__item:nth-child(n + 9) img {
  opacity: 0.8;
}

.carousel__item:not(:nth-child(n + 4)) *,
.carousel__item:nth-child(n + 10) * {
  opacity: 0 !important;
}

#data_active,
#data_active * {
  opacity: 1 !important;
  filter: none !important;
}

.carousel__item__img {
  display: block;
  position: absolute;
  width: var(--width);
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  aspect-ratio: 2/3;
  object-fit: cover;
  filter: saturate(0.2) contrast(0.75) brightness(1.1);
}

.carousel__item::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 0) 30%,
    rgba(118, 221, 136, 0.5) 60%,
    rgba(0, 255, 246, 0.6) 100%
  );
  opacity: 0.5;
  transition: all 0.6s cubic-bezier(0.55, 0.24, 0.18, 1);
}

#data_active.carousel__item::after {
  transform: translateY(100%);
}

.carousel__contents {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  min-height: 200px;
  padding: 1em;
  background-image: radial-gradient(
    ellipse at 0px 0px,
    rgba(0, 0, 0, 0.4) 20%,
    transparent 50%
  );
  background-size: 170% 200px;
  background-repeat: no-repeat;
  transform: translateX(-50%);
  z-index: 1;
  transition-duration: 1s;
  opacity: 0;
}

#data_active .carousel__contents {
  transform: translateX(0px);
  transition-duration: 0.66s;
  opacity: 1;
}
.carousel__contents * {
  margin: 0;
  line-height: 1.3;
}

.carousel__contents .user__name {
  color: #e8eff4;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.75em;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.carousel__contents .user__title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.875em;
  letter-spacing: 1.25px;
  font-weight: 500;
  text-transform: uppercase;
  color: transparent;
  background: linear-gradient(270deg, rgb(67, 255, 0), rgb(0, 255, 247));
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0.85 !important;
}

.carousel__nav {
  padding: 1em;
  justify-self: center;
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

/* .carousel_button {
  display: flex;
  gap: 0.5em;
  padding: 0.5em 1.5em;
} */
